<div id="<%= dom_id entry %>">
  <p>
    <strong>Task:</strong>
    <%= entry.task %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= entry.category %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= entry.start_time.strftime("%I:%M %p") %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= entry.end_time.strftime("%I:%M %p") %>
  </p>
</div>
